{% extends "layout.html" %}

{% block title %}Käyttäjätunnuksen poisto{% endblock %}

{% block content %}
<h2>Käyttäjätunnuksen poistaminen</h2>
  <p>Käyttäjätunnus: {{ user.username }}</p>
  <p>Haluatko varmasti poistaa käyttäjätunnuksen?</p>
  <p>Huomioi, että myös käyttäjän tekemät ilmoitukset poistetaan.</p>
  <form action="/delete_user/{{ user.id }}" method="post">
      <input type="submit" name="delete" value="Poista käyttäjätunnus"/>
      <input type="submit" name="back" value="Palaa takaisin"/>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>
{% endblock %}
