{% extends "layout.html" %}

{% block title %}Ilmoituksen poisto{% endblock %}

{% block content %}
<h2>Ilmoituksen poistaminen</h2>
  <p>Ilmoitus: {{ item.title }}</p>
  <p>Haluatko varmasti poistaa ilmoituksen?</p>
  <form action="/delete_item/{{ item.id }}" method="post">
      <input type="submit" name="delete" value="Poista ilmoitus"/>
      <input type="submit" name="back" value="Palaa takaisin"/>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>
{% endblock %}
