{% extends "layout.html" %}

{% block title %}Ilmoituksen muokkaus{% endblock %}

{% block content %}
<h2>Ilmoituksen muokkaus</h2>
<form action="/update_item" method="post">
  <p>
    Otsikko: <br />
    <input type="text" name="title" value="{{ item.title }}" maxlength="50" required/>
  </p>
  <p>
    Kaupunki: <br />
    <input type="text" name="city" value="{{ item.city }}" />
  </p>
  <p>
  Kuvaus: <br />
  <textarea name="description" rows="8" cols="68" maxlength="1000" required>{{ item.description }} </textarea>
  </p>
  <p>
    Matkan pituus: <br />
    <input type="text" name="distance" value="{{ item.distance }}" size="8" pattern="[1-9][0-9]{0,2}" required/> km
  </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
  {% for class in all_classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Päivitä ilmoitusta" />
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}
