<!DOCTYPE html>
<html>

<head>
  <title>Ilmoituksen muokkaus</title>
</head>

<body>
    <h1>Ilmoituksen muokkaus</h1>
  <form action="/update_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}" />
    </p>
    <p>
      Kaupunki: <br />
      <input type="text" name="city" value="{{ item.city }}" />
    </p>
    <p>
    Kuvaus: <br />
    <textarea name="description" rows="8" cols="68">{{ item.description }}" </textarea>
    </p>
    <p>
      Matkan pituus: <br />
      <input type="text" name="distance" size="8" value="{{ item.distance }}"/> km
    </p>
      <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="submit" value="Päivitä ilmoitusta" />
  </form>
</body>

</html>
