{% extends "layout.html" %}

{% block title %}Ilmoituksen kuvat{% endblock %}

{% block content %}
<h2>Ilmoituksen kuvat</h2>
<p>
    Ilmoituksessa on {{ images | count }} kuvaa.
</p>

<form action="/delete_images" method="post" >
    {% for image in images %}
        <input type="checkbox" name="image_id" value="{{ image.id }}">
        <img src="/image/{{ image.id }}" />
        <br />
    {% endfor %}
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
        <input type="submit" value="Poista valitut" />
    </p>
</form>

<h4>Lisää uusi kuva</h4>
<form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
    Kuva: <input type="file" name="image" accept=".png" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}
