<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Kävelypäiväkirja</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  <p>
    <a href="/">Etusivu</a> |
    <a href="/find_item">Etsi ilmoitus</a> |
  {% if session.user_id %}
    <a href="/new_items">Uusi ilmoitus</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

    {% block content %}{% endblock %}

</body>

</html>
