<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Kävelypäiväkirja</h1>


  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Etusivu</a></li>
        <li><a href="/find_item">Etsi ilmoitus</a></li>
        {% if session.user_id %}
        <li><a href="/new_items">Uusi ilmoitus</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
        <li><a href="/user/{{ session.user_id }}">Oma profiili</a></li>
        {% else %}
        <li><a href="/login">Kirjaudu sisään</a></li>
        <li><a href="/register">Luo tunnus</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>


  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>

</html>
