<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
    <h1>Uusi ilmoitus</h1>
  <form action="/create_items" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Kaupunki: <br />
      <input type="text" name="city" />
    </p>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="8" cols="68"></textarea>
    </p>
    <p>
      Matkan pituus: <br />
      <input type="text" name="distance" size="8"/> km
    </p>
    <p>
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>
