<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
    <h1>Uusi ilmoitus</h1>
  <form action="/create_items" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    <p>
      Kaupunki: <br />
      <input type="text" name="city" required/>
    </p>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="8" cols="68" maxlength="1000" required></textarea>
    </p>
    <p>
      Matkan pituus: <br />
      <input type="text" name="distance" size="8" pattern="[1-9][0-9]{0,3}" required/> km
    </p>
    <p>
      Kävelyn tyyli: <br />
      <select name="section">
        <option value="">(valitse)</option>
        <option value="lyhyet matkat">lyhyet matkat</option>
        <option value="pitkät matkat">pitkät matkat</option>
        <option value="ulkomaan matkat">ulkomaan matkat</option>
        <option value="kotimaan matkat">kotimaan matkat</option>
        <option value="merkitty reitti">merkitty reitti</option>
        <option value="vaellusreitti">vaellusreitti</option>
      </select>
    </p>
    <p>
      Sää: <br />
      <select name="weather">
        <option value="">(valitse)</option>
        <option value="aurinkoinen">aurinkoinen</option>
        <option value="sateinen">sateinen</option>
        <option value="poutaa">poutaa</option>
        <option value="puolipilvinen">puolipilvinen</option>
        <option value="vaihteleva">vaihteleva</option>
      </select>
    </p>
    <p>
      Kävelyn onnistuminen: <br />
      <select name="success">
        <option value="">(valitse)</option>
        <option value="erinomainen">erinomainen</option>
        <option value="hyvä">hyvä</option>
        <option value="huono">huono</option>
        <option value="keskinkertainen">keskinkertainen</option>
        <option value="vaihteleva">vaihteleva</option>
      </select>
    </p>
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>
